body {
    background-color: lightblue;
    text-align: center;
}

.kutu {
    background-color: yellow;
    width: 400px;
    border-radius: 20px;
}

button {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}